html {

    height: 100%;
  
    margin: 0;
  
    display: flex;
  
    flex-direction: column;
  
  }
  
  
  
  @media (min-width: 768px) {
  
    html {
  
      font-size: 16px;
  
    }
  
  }
  
  
  
  .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  
  }
  
  
  
  body {

    
  
    background-color: #f8f9fa;
  
    font-family: 'Arial', sans-serif;
  
    display: flex;
  
    flex-direction: column;
  
    min-height: 100vh;
  
  }
  
  
  
  @media (max-width: 768px) {
  
    .pierwszy h1, .drugi h1 {
  
        font-size: 2rem; 
  
    }
  
    .navbar-nav {
  
        text-align: center; 
  
    }
  
  }
  
  
  
  .chat-description {
    

    padding-top: 100px;

    text-align: left;
  
    margin: 20px;
  
    display: flex;
  
    align-items: center;
  
  }
  
  
  
  .chat-description img {
  
    

    width: 100px;
  
    height: 100px;
  
    border-radius: 50%;
  
    margin-right: 20px;
  
  }
  
  
  
  .chat-description p {

    padding-left: 40px;
  
    font-size: 1.2rem;
  
    color: #333;
  
  }
  
  
  
  .chat-window {
  
    flex: 1;
  
    background-color: #fff;
  
    border: 1px solid #ddd;
  
    border-radius: 10px;
  
    padding: 20px;
  
    margin: 20px;
  
    margin-left: 100px;

    margin-right: 100px;

    overflow-y: auto;
  
    min-height: 300px; /* Minimum height set here */
  
  }
  
  
  
  .chat-window p {
  
    padding: 10px;
  
    border-radius: 10px;
  
    margin-bottom: 10px;
  
    max-width: 70%;
  
  }
  
  
  
  .chat-window p:nth-child(odd) {
  
    background-color: #e9ecef;
  
    align-self: flex-start;
  
  }
  
  
  
  .chat-window p:nth-child(even) {
  
    background-color: #007bff;
  
    color: white;
  
    align-self: flex-end;
  
  }
  
  
  
  .chat-input {

    display: flex;
  
    justify-content: center;
  
    margin: 20px;
  
  }
  
  
  
  .chat-input form {
  
    display: flex;
  
    align-items: center;
  
    margin: 0 10px;
  
  }
  
  
  
  .chat-input textarea {
  
    width: 450px;
  
    padding: 10px;
  
    border: 1px solid #ddd;
  
    border-radius: 20px;
  
    margin-right: 10px;
  
    resize: none; /* Prevent manual resizing */
  
    overflow: hidden; /* Hide overflow to allow auto-expansion */
  
  }
  
  
  
  .chat-input input[type="submit"] {
  
    padding: 10px 20px;
  
    border: none;
  
    border-radius: 20px;
  
    background-color: #007bff;
  
    color: white;
  
    cursor: pointer;
  
    transition: background-color 0.3s ease;
  
  }
  
  
  
  .chat-input input[type="submit"]:hover {
  
    background-color: #0056b3;
  
  }
  
  
  /* Add animations */
  
  @keyframes fadeIn {
  
    from {
  
      opacity: 0;
  
    }
  
    to {
  
      opacity: 1;
  
    }
  
  }
  
  
  
  .chat-window p {
  
    animation: fadeIn 0.5s ease-in-out;
  
  }