@page
@{
    ViewData["Title"] = "Aboutus Page";
}
<style>
    .contain {
        display: flex;
        justify-content: center;
        align-items: center;
            }
    .content {
        text-align: center;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 50px;
    }
</style>

    <div class="container contain">
        <div class="content">
            <h1>Hello, I'm developer from Poland and my name is Jakub.<br> I'm neither racist nor war criminal.<br> I don't even like .NET i don't know why 
            i have created this website, I prefer python.</h1>
        </div>
    </div>
